################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Civ_Rob_2.0/v16
/Civ_Rob_2.0/Debug
/Civ_Rob_2.0/x64/Debug
/Debug
/x64/Debug
